<h2>Employee List</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>first name</th>
      <th>last name</th>
      <th>email id</th>
      <th>actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let emp of employees">
      <td>{{ emp.firstName }}</td>
      <td>{{ emp.lastName }}</td>
      <td>{{ emp.emailId }}</td>
      <td>
        <button class="btn btn-info" (click)="updateEmployee(emp.id)">
          update
        </button>
        <button
          class="btn btn-danger"
          style="margin-left: 10px"
          (click)="deleteEmployee(emp.id)"
        >
          delete
        </button>
        <button
          class="btn btn-info"
          style="margin-left: 10px"
          (click)="employeeDetails(emp.id)"
        >
          view
        </button>
      </td>
    </tr>
  </tbody>
</table>
